:80 {
    @s {
        not path /static/*
        not path /course-plus*
        not path /course-plus-data*
        not path /libsjtu*
        not path /monitor*
        not path /download/*
    }
    @hidden {
        path */.*
    }
    @monitor {
        path /monitor*
    }
    encode gzip
    reverse_proxy @s sjtu-plus:5000
    reverse_proxy @monitor grafana:3000
    respond @hidden 404
    root * /srv
    file_server
}
