:80 {
    # Django 项目 sjtu-plus，见 https://github.com/SJTU-Plus/sjtu-plus
    @sjtu-plus {
        not path /static/*
        not path /public/*
        not path /course-plus/*
        not path /course-plus-data/*
        not path /tools/*
        not path /libsjtu/*
    }
    reverse_proxy @sjtu-plus sjtu-plus:5000
    
    # Grafana，校内场馆人流监测
    @monitor {
        path /monitor/*
    }
    reverse_proxy @monitor grafana:3000
    
    # Grafana，服务器性能监测
    @admin-monitor {
        path /admin-monitor/*
    }
    reverse_proxy @admin-monitor grafana-private:3000

    # jAccount 验证码识别服务，见 https://github.com/danyang685/jaccount-captcha-solver
    @captcha-solver {
        path /captcha-solver/*
    }
    reverse_proxy @captcha-solver captcha-solver:8080
    
    # 特色手动加斜杠
    redir /monitor /monitor/
    redir /admin-monitor /admin-monitor/
    redir /course-plus /course-plus/
    redir /course-plus-data /course-plus-data/
    redir /tools /tools/
    redir /public /public/

    # 公共目录，提供目录浏览和文件下载，暴露 statics/public 下的文件
    @public-root {
        path /public/*
    }
    file_server @public-root browse
    # handle_path /public/* {
    #     root * /srv/public
    # }

    # 通用配置
    @hidden {
        path */.*
    }
    respond @hidden 404
    encode gzip
    root * /srv
    file_server
}
